body {
  background-color: rgba(200, 200 , 200, 0.7);
}

.header {
  background-image: url("images/backgroundimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.li-social-links {
  display: inline;
  padding: 0px 20px;
}

.card {
  border: solid;
  border-width: 0.5px;
  border-color: rgba(100, 100 , 100, 0.8);
  box-shadow: 3px 3px 3px darkgrey;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(235, 235 , 235, 1);
}

.padding-left {
  padding-left: 0px;
}

.centered-profile-picture {
  margin: 0px 0px 0px 0px;
  }

h1, h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p, ul, table {
  font-family: 'Rokkitt', serif;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 0 auto;
  }
}


.text_spaced {
  line-height: 3;
}

.bigger-police {
  font-size: 35px;
}

.puces-off {
  list-style: none;
}


.centered {
  margin: auto;
}

.bold {
  font-weight: bold
}

.centered-text {
  text-align: center;
}

.rounded-image {
  border-radius: 50%;
}

.shadowed {
  box-shadow: 2px 2px 6px grey;
}

.profile-picture {
  width: 200px;
}

.logo-picture {
  width: 100px;
}

.logo-small {
  width: 85px;
}
